body {
    background-color: rgb(229, 214, 214)
}


/* footer link hover effect */
footer a:hover {
    color: #00fa26 !important; /* Light blue */
    opacity: 0.9;
    transition: all 0.3s ease;
}


/* hero background image */
.bgimage {
    height:100vh;
    background: url('../images/hero-section.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color: rgb(255, 0, 242);
}
.hero_desc {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

/* hero buttons css */
.hero-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor:pointer;
}
.hero-buttons:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    color: #2400c2;
}

/* For screens larger than 768px, show buttons in a row */
@media (min-width: 768px) {
    .hero-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    
    .hero-buttons .btn {
        width: auto; /* Remove fixed width on larger screens */
        min-width: 160px; /* Minimum width for buttons */
    }
}


/* contact section of the home page
map styling */
#embedmap-canvas img {
    max-width: none !important;
    background: none !important;
    font-size: inherit;
    font-weight: inherit;
}